body {
  text-align: center;
}

.subtitle {
  padding-bottom: 3rem;
  color: grey;
  font-size: 80%;
}

.input-group {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  margin: auto;
  background-color: whitesmoke;
}

.label {
  text-align: center;
  color: grey;
  font-size: 80%;
}

input {
  text-align: center;
  padding: auto;
  margin: auto;
  min-width: 90%;
}

button {
  margin-top: 2rem;
}

.error {
  color: red;
  padding-top: 1em;
  padding-right: 1em;
}

.results {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
