html {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.title {
  padding-bottom: 10px;
}

.subtitle {
  padding-bottom: 2rem;
  color: grey;
  font-size: 80%;
}

.input-group {
  width: 100%;
  border: 5px;
  border-color: cornflowerblue;
  text-align: center;
  margin: auto;
}

.label {
  text-align: center;
  color: grey;
  font-size: 80%;
  display: block;
}

input {
  text-align: center;
  padding: auto;
  margin: auto;
  min-width: 90%;
}

button {
  margin-top: 3rem;
}

.error {
  color: red;
  padding-top: 1em;
  padding-right: 1em;
}

.results {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  min-width: 90%;
}
